* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.pop-up {
    display: flex;
    flex-direction: column;
    margin: 200px auto; 


    border-radius: 16px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(210, 210, 210);

    width: 420px;
    height: 466px;

    padding: 20px;
}

.pop-up input, .pop-up button {
    display: block;
}

.pop-up .symbvol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-size: 30px;

    cursor: pointer;
}

.pop-up .title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
}

input {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    border: 1px solid #CFD8DC;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 16px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    outline: none;
}

input:focus{
    border-color: #FFE44D;
}

.pop-up form input:not(:last-child) {
    margin-bottom: 15px;
}

.pop-up form p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: #7B8E98;
    margin: 20px 0;
}

.pop-up form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;

    width: 100%;
    height: 48px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.pop-up form .sign-up {
    background: #FFE44D;
    border: none;
    border-radius: 55px;

    cursor: pointer;
}

.pop-up form .login {
    border: 1px solid #CFD8DC;
    border-radius: 87px;

    background-color: #fff;

    cursor: pointer;
}

.pop-up form button:not(:last-child) {
    margin-bottom: 15px;
}