@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 14px;
}

.header {
    text-align: center;

    margin: 30px 0;
}

h2 {
    display: inline-block;
    font-size: 20px;
}

#circle {
    display: inline-block;

    margin-left: 10px;
    margin-bottom: 2px;

    width: 10px;
    height: 10px;

    background-color: rgb(255, 75, 75);

    border-radius: 100%;

    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#updated {
    text-align: center;
}


img {
    display: flex;
    margin: 10px auto;

    width: 50px;
}

table {
    margin: 0 auto;
    width: 500px;
    max-width: 500px;
}

table tr td, table thead th, table tr, table thead, table{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

/* .blocks {
    width: 300px;
}

header, nav, section, article, aside, footer {
    border: 1px solid black;

    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin: 5px;

    height: 50px;
}

.blocks-2 {
    display: flex;
}

.section-article {
    width: 49%;
}

aside {
    width: 47%;
    height: 107px;
    position: relative;
    float: right;
} */