*{margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;600&display=swap');

body {
    font-family: 'Geologica', sans-serif;
}

.bar {
    margin: 20px;
}

.bar p {
    font-size: 25px;
}

.bar .container {
    background-color: #34495E;
    border-radius: 15px;
    margin-top: 10px;
    padding: 21px 40px;

    color: white;
    font-size: 12px;
    font-weight: 300;
}